/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #083D77;
    --secondary: #FFC857;
    --white: #ffffff;
    --grey: #eee;
    --bluegrey: #55aaff41;
}

nav {
    padding: 25px 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav.nav--primary {
    background-color: var(--secondary);
}

.nav-logo {
    width: 250px;
}

.nav_menu {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.nav_socials span {
    margin-left: 10px;
}

/* Hero */

.hero {
    background-image: url("/images/hero.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.nav_sub {
    display: none;
}

@media screen and (min-width: 992px) {
    .nav_sub {
        display: flex;
    }
}

.nav_sub a {
    text-decoration: none;
    color: var(--primary);
}

.contact_us {
    margin-left: auto;
    margin-right: 0;
    padding: 15px 10px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    color: var(--white);
}

.contact_info {
    margin-left: 10px;
}

.contact_info_available {
    margin-bottom: 10px;
}

.hero_text {
    margin-top: 15px;
    text-align: center;
    font-size: 56px;
}

.email_capture {
    background: var(--secondary);
    display: flex;
    flex-direction: row-flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    padding: 40px;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .email_capture {
        flex-direction: column;
    }
}

.email_header h1 {
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 25px;
}

.email_capture input[type=text],
input[type=number],
select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.email_capture input[type=number],
select {
    width: 47%;
}

button {
    background: var(--primary);
    color: var(--grey);
    border: none;
    padding: 10px 12px;
    width: 95%;
    border-radius: 2px;
}

section#insurance_section {
    margin: 20px auto;
}

section h1 {
    margin: 48px auto;
    text-align: center;
    font-size: 2rem;
}

.icon_background {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: var(--grey);
}

.icon_background i {
    color: var(--primary);
}

.insurance_types {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.insurance_box {
    max-width: 300px;
    background: var(--white);
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(211, 211, 211, 0.568);
    padding: 24px;
}

.insurance_box:hover {
    background-color: var(--secondary);
}

.insurance_box-title {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: rgba(0 0 0 0.8);
    margin: 10px auto;
}

.insurance_box-subtext {
    color: #808080;
    margin: 10px auto;
    line-height: 30px;
}

section#content-pitch {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

#content-pitch img {
    max-width: 350px;
    height: 330px;
    background-position: center;
    background-size: cover;
    margin: 3rem auto;
}

.pitch {
    width: 100%;
    max-width: 550px;
    margin: 3rem auto;
}

.pitch_title {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0 0 0 0.8);
}

.sub_title{
    margin: 1.2rem auto;
    color: #888888;
    line-height: 25px;
}

.pitch_checklist div {
    margin: 1.2rem auto;
}

.pitch_checklist i {
    color: #888888;
    margin: auto .8rem;
}

.pitch_checklist span {
    color: #888888;
}

section#faq{
    background: var(--grey);
    padding-top: 1rem;
}

.faq_container{
    padding: 0 2rem 2rem;
    text-align: center;
}

.accordion_group{
    margin: .8rem auto;
    width: 100%;
}

.accordion{
    background-color: var(--secondary);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 550px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 auto;
}

.accordion:after{
    content: '\02795';
    font-size: 13px;
    color: #eee;
    float: right;
    margin-left: 5px;
}

.active,
.accordion:hover{
    background-color: #ccc;
}

.active:after{
    content: '\2796';
}

.panel{
    text-align: left;
    background-color: white;
    overflow:hidden;
    /* max-height: 0; */
    max-width: 550px;
    margin: 0 auto;
    transition: 0.4s;
}

.faq{
    margin: 1rem auto;
}

.faq h3{
    font-size: 1.1rem;
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 1.1rem;
}

.faq p {
    color: #444;
    font-size: .8rem;
    line-height: 20px;
}